<div>
  <div class="container">
    <div>
      <input [(ngModel)]="newTask">
      <button class="a" (click)="addNewTask()" [disabled]="!newTask">Add new task</button>
    </div>
  </div>

  <div class="container">
    <div>Task list:</div>
    <ng-container *ngIf="taskList.length > 0; else noTask">
    <ul *ngFor="let task of taskList">
      <li>
        {{task}}
        <button (click)="deleteTask(task)">Delete</button>
        <button (click)="isDone(task)">Done</button>
      </li>
    </ul>
    </ng-container>
    <ng-template #noTask>
      <p>You don't have any task ;)</p>
    </ng-template>
  </div>

  <div class="container">
    <div>Done Task list:</div>
    <ul *ngFor="let taskDone of doneTaskList">
      <li>
        {{taskDone}}
      </li>
    </ul>
      <p>Done {{doneTaskList.length}} tasks</p>
  </div>

</div>
