<div>
  <div class="container">
    <app-add-task (emitTaskFromAddTaskComponent)="addNewTaskFromAppComponent($event)"></app-add-task>
  </div>

  <div class="container">
    <app-todo-task [taskListFromToDoTaskComponent]="taskListFromAppComponent"
                   (emitDoneFromToDoTaskComponent)="isDoneFromAppComponent($event)"
                   (emitRemoveFromToDoTaskComponent)="deleteTaskFromAppComponent($event)"></app-todo-task>
  </div>

  <div class="container">
    <app-done-task [taskListFromDoneTaskComponent]="doneTaskListFromAppComponent"></app-done-task>
  </div>

</div>
