<button type="button" class="btn btn-primary" (click)="getPosts()">get Posts</button>
<button type="button" class="btn btn-primary" (click)="getPost()">get One Post</button>
<button type="button" class="btn btn-primary" (click)="getPostByUser()">get Post from user</button>
<button type="button" class="btn btn-primary" (click)="createPost()">add Post</button>
<button type="button" class="btn btn-primary" (click)="updatePost()">update Post</button>
<button type="button" class="btn btn-primary" (click)="deletePost()">delete Post</button>
<button type="button" class="btn btn-primary" (click)="changePost()">change Post</button>
<button type="button" class="btn btn-primary" (click)="getPostsAsRrsponse()">as Response</button>
<button type="button" class="btn btn-primary" (click)="display()">display title</button>


<div *ngFor="let post of allPosts$ | async">
 {{post.title}}
</div>

