<p [ngStyle]="{color: getColor()}">ToDo Task {{taskListFromToDoTaskComponent.length}}</p>
<ng-container *ngIf="taskListFromToDoTaskComponent.length > 0; else noTask">
  <ul *ngFor="let task of taskListFromToDoTaskComponent; let odd = odd">
    <li [ngClass]="{'odd-li': odd, 'last-li': taskListFromToDoTaskComponent.length === 1}">
      {{task}}
      <button (click)="deleteTask(task)">Delete</button>
      <button (click)="isDone(task)">Done</button>
    </li>
  </ul>
</ng-container>
<ng-template #noTask>
  <p>You don't have any task ;)</p>
</ng-template>
